# NexaPHP Application Settings
APP_NAME=
APP_ENV=
APP_DEBUG=
APP_URL=

# Database Settings
# Set to 'mysql' to use MySQL (ensure DB created)
DB_CONNECTION=
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# Mail/SMTP Settings
MAIL_MAILER=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=
